# Main fina config file
# This usually resides in /etc/fina/fina.cfg

# NOTE: this file is sourced from fina
# As such, this file will execute the contents of this file as root
# Be careful what you specify here!

# The directory containing the rules snippets
RULESDIR="/etc/fina/rules.d"
