Source: fina
Section: net
Priority: extra
Maintainer: Alexander Gedak <packages@freenet-rz.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: fina
Architecture: all
Depends: iptables
Description: Fina is an easy to use packetfilter script for freenet AG
 Fina was originally written by Tobias Klausmann
 Only a little bit of knowledge of the format used by iptables-save is
 needed to use fina.
